@import "../../sass/main.scss";

.content {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 200px;

  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__host {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &--items {
        display: flex;
        align-items: center;
        &--name {
            display: flex;
            height: 93px;
            width: 52px;
            color: $secondary;
            font-size: 22px;
            font-weight: 500;
            align-items: center;
            padding-right: 10px;
            
        }
    }
  }

  &__buble {
    ul {
      display: flex;
      padding: 0;
    }

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      padding-left: 20px;
      padding-right: 20px;
      height: 25px;
      border-radius: 10px;
      background-color: $secondary;
      margin-right: 10px;
      color: $primary;
    }
  }

  &__collapse {
    display: flex;
    justify-content: center;
    width: 100%;

    &-item {
      margin-bottom: 20px;
    }
  }
}

ul {
  list-style-type: none;
}

.content__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  
    &--content {
      display: flex;
      flex-direction: column;
  
      &--title-wrapper {
        display: flex;
        justify-content: flex-start;
      }
    }
  }

.content__header--title {
margin-top: 20px;
font-size: 36px;
color: $secondary;
font-weight: bold;
}

.content__header--location {
font-size: 18px;
color: $secondary;
margin-top: 10px;
}

.round-image {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.collapse-content {
  padding: 10px;
  & p {
    margin: 0;
    padding: 2px;
  }
}


