@import "../../sass/main.scss";

.content__collapse {
    
    margin: 20px auto 100px;
}
.content__collapse-item--description {
    margin-right: 50px;
}


.collapse-container {
    position: relative;
    width: 582px;
    height: 52px;
    border-radius: 10px;
    background-color: $secondary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    margin-top: 10px; 
    margin-bottom: 20px;
    margin-right: 10px;
}

.collapse-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100%;
    left: 0;
    height:auto;
    background-color: #F6F6F6;
    border-radius: 10px;
    

}

.collapse-header h2 {
    color: $primary;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.collapse-arrow {
    position: absolute;
    top:30%;
    right: 20px;
}
.collapse-content {
    display: flex;
    width: 600px;
    height: auto;
    color: $secondary;
    font-size: 18px;
    flex-direction: column;
    font-weight: bold;
    letter-spacing: 1;
    line-height: 30px;
}

.rotate {
    transform: rotate(180deg);
}

