@import "../../sass/main.scss";


.container__collapse {
    width: 100%;
    margin-top: 40px;
    height: auto;
}

.header__collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin: 0 auto;
    width: auto;
    background-color: $secondary;
}

.header__collapse h3 {
    color: $primary;
    padding-left: 10px;
}

.header__collapse img {
    display: flex;
    height: 23px;
    padding-right: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.collapse-content-wrapper {
    margin: 0 auto;
    border-radius: 10px;
    width: 100%;
}

p {
    margin: 0;
}

.collapse-text {
    color: $secondary;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    padding: 20px 11px 20px 10px;
}

.rotate {
    transform: rotate(180deg);
    padding-left: 10px;
}
