.banner_about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    .banner_about-background {
        width: 90%;
        height: 223px;
        object-fit: cover;
        border-radius: 25px;
        filter: brightness(70%);
    }
}    