@import '../../sass/main.scss';

.errorpage {
    text-align: center;
    margin-top: 30px;
    .errorPage__content {
        margin-top: 100px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 900px) {
            font-size: 96px;
        } 
    }

    h1 {
        color: $secondary;
        margin: 0;
        font-size: 288px;
        font-weight: 700;
        background-color: $primary;
        @media screen and (max-width: 900px) {
            font-size: 96px;
        }  
    }
    .errorPage__content-message {
        color: $secondary;
        font-weight: 500;
        font-size: 36px;
        @media screen and (max-width: 900px) {
            font-size: 20px;
        }  
    }
    .errorPage__return {
        text-align: center;
        font-weight: 500;
        margin-top: 200px;
        font-size: 18px;
        color: $secondary;
        text-decoration: underline;
    }
}



