@import '../../sass/main.scss';

.errorpage {
    text-align: center;
    h1 {
        color: $secondary;
        margin: 0;
        font-size: 288px;
        font-weight: 700;
        background-color: $primary;
    }
    .errorpage__content-message {
        color: $secondary;
        font-weight: 500;
        font-size: 36px;
    }
    .errorpage__return {
        text-align: center;
        font-weight: 500;
        margin-top: 200px;
        font-size: 18px;
        color: $secondary;
        text-decoration: underline;
    }
}



